.no-adds-text {
  font-family: "Baloo Da 2", cursive;
}

.adds-btn {
  border: 3px dashed #3b8138;
  color: #3b8138;
  background: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}
.adds__heading {
  color: #3b8138;
}
.adds__text {
  color: gray;
}
